:root {
  /* ======================================= */
  /* 1. 배경색 계열 (Background Color / Gray / Black) */
  /* ======================================= */
  --color-gray-5: #e3e7e9;
  --color-gray-10: #d5dddf;
  --color-gray-20: #b9c3c8;
  --color-gray-30: #a7b3bc;
  --color-gray-40: #9eaaaf;
  --color-gray-50: #9599a4;
  --color-gray-100: #828e9e;
  --color-gray-200: #6f788a;
  --color-gray-300: #5c626f;
  --color-gray-400: #40454b;
  --color-gray-500: #33383b;
  --color-gray-600: #262b2f;
  --color-gray-700: #22262b;
  --color-gray-800: #1b1e22;
  --color-gray-900: #15171b;

  --color-stroke-primary: #292e33;
  --color-black-secondary: #202429;
  --color-black-primary: #161a1f;

  /* ======================================= */
  /* 2. 브랜드 색상 계열 (Brand - Green) */
  /* ======================================= */
  --color-brand-50: #f2fcf5;
  --color-brand-100: #d9e7e0;
  --color-brand-200: #a9c3b6;
  --color-brand-300: #8ca595;
  --color-brand-400: #70987d;
  --color-brand-500: #5b866b;
  --color-brand-600: #3d7251;
  --color-brand-700: #1b5f3e;
  --color-brand-800: #044d2c;
  --color-brand-900: #003417;

  /* ======================================= */
  /* 3. 기타 색상 계열 (White / Red / Blue) */
  /* ======================================= */
  --color-white: #ffffff;
  --color-white-text: #f7f7f7;

  --color-red-base: #ca372b;

  --color-blue-base: #3a62ac;
  --color-blue-light: #76a3ca;

  /* ======================================= */
  /* 4. 프로필, 랜덤 색상계열 */
  /* ======================================= */
  --color-profile-green: #4b8e4c;
  --color-profile-violet: #6364a9;
  --color-profile-cyan: #51aeae;
  --color-profile-blue: #4b7294;
  --color-profile-cobalt: #36689c;
  --color-profile-yellow: #eeca44;
  --color-profile-orange: #ee8f3a;

  /* ======================================= */
  /* 5. 폰트 크기 (Size) */
  /* ======================================= */
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 32px;

  /* ======================================= */
  /* 6. 폰트 굵기 (Weight) */
  /* ======================================= */
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* ======================================= */
  /* 7. 줄 간격 (Line Height) */
  /* ======================================= */
  /* 150% -> 1.5, 160% -> 1.6 으로 변환 */
  --line-height-150: 1.5;
  --line-height-160: 1.6;
}
